<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/styles1.css" />
		<title>Login page</title>
	</head>
	<body>
		<div class="login-form">
			<h2>Login</h2>
			<form action="#" method="post">
				<div class="input-box">
					<label for="username">Username</label>
					<input
						type="text"
						name="username"
						id="username"
						placeholder="Enter your username"
						required
					/>
				</div>
				<div class="input-box">
					<label for="password">Password</label>
					<input
						type="password"
						name="password"
						id="password"
						placeholder="Enter your password"
						required
					/>
				</div>
				<div class="input-box button">
					<input type="submit" value="Login" />
				</div>
			</form>
		</div>
	</body>
</html>
