<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/login.css" />
		<title>Login page</title>
	</head>
	<body>
		<div class="login-form">
			<h2>Login</h2>
			<% if(signupstatus) { %>
				<p style="color: green;"> User signup succesfull ! </p>
			<% } %>
			<% if(loginerror) { %>
				<p style="color: red;"> invalid credintials ! </p>
			<% } %>
			<form action="/login" method="post">
				<div class="input-box">
					<label for="email">email</label>
					<input
						type="email"
						name="email"
						id="email"
						placeholder="Enter your email"
						required
					/>
				</div>
				<div class="input-box">
					<label for="password">Password</label>
					<input
						type="password"
						name="password"
						id="password"
						placeholder="Enter your password"
						required
					/>
				</div>
				<div class="input-box button">
					<input type="submit" value="Login" />
				</div>
			</form>
		</div>
	</body>
</html>
