<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/styles.css">
		<title>Signup page</title>
	</head>
	<body>
		<!-- signupform -->
        <div class="signup-form">
            <center>
                <form action="">
                    <label for="username">Name : </label>
                    <input type="text" name="username" placeholder="Enter your name"><br>
                    <label for="Email" >E-mail : </label>
                    <input type="email" name="Email" placeholder="Ex: abc@gmail.com"><br>
                    <label for="mbno">Mobile Number : </label>
                    <input type="text" name="mbno" ><br>
                    <label for="Address">Address : </label>
                    <textarea name="Address" id="address" cols="10" rows="4">Enter your address</textarea><br>
                    <label for="password">Password : </label>
                    <input type="password" name="password"><br>
                    <label for="confirmpwd">Confirm password: </label>
                    <input type="password" name="password" id="password">
                </form>
            </center>
            
        </div>
        
        
</html>
