* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Book Antiqua", serif;
}

body {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main {
	display: flex;
}

.leftimage {
	flex: 1;
}

.leftimage img {
	max-width: 100%;
	height: 600px;
	border-radius: 50px;
	padding-right: 10px;
}

.login-form {
	max-width: 500px;
	width: 100%;
	padding-left: 50px;
	border-radius: 100px;
	background-color: white;
	box-shadow: 0 5px 10px rgba(55, 45, 45, 0.2);
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.login-form h2 {
	font-size: 25px;
	text-align: center;
	font-weight: bold;
	color: #333;
	margin-bottom: 20px;
}

.login-form form .input-box {
	width: 400px;
	border-radius: 20px;
	margin-bottom: 20px;
}

.login-form form .input-box input {
	width: 100%;
	height: 50px;
	outline: none;
	padding: 0 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 15px;
	transition: border-color 0.3s ease;
}

.login-form form .input-box input:focus,
.login-form form .input-box input:valid {
	border-color: #4070f4;
}

.login-form form .input-box.button input {
	height: 35px;
	width: 80%;
	color: black;
	font-weight: bold;
	margin-left: 40px;
	border: none;
	background-color: lightgray;
	border-radius: 15px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.login-form form .input-box.button input:hover {
	background: gray;
}

form .text h3 {
	color: #333;
	width: 100%;
	text-align: center;
}

form .text h3 a {
	color: #4070f4;
	text-decoration: none;
}

.login-form form .input-box {
	position: relative;
}

.login-form form .input-box .password-input {
	position: relative;
}

.login-form form .input-box .toggle-password {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
	cursor: pointer;
}

.login-form form .input-box .toggle-password img {
	width: 20px;
	height: auto;
}
